/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* End Reset */

/* Typography */
ul {
  list-style-type: none;
}
/* End Typography */

/* Layout */
.container {
  display: flex;
  margin: 5vh auto;
  width: 80%;
  height: 90vh;
  background: lightgray;
}
/* End Layout */
